@media (min-width: 320px) and (max-width: 480px) {
    .but button{
        width: 350px;
        /* margin-top: 30px; */
    }
    .btni button{
        width: 350px;
        /* margin-top: 30px; */
    }
    .btndf button{
        width: 350px;
        /* margin-top: 30px; */
    }
    .but h1{
        color: white;
        text-align: center;
    }
    .but h2{
        color: white;
        text-align: center;
    }
    .but h3{
        color: white;
        text-align: center;
    }
    .btni h1{
        color: white;
        text-align: center;
    }
    .btni h2{
        color: white;
        text-align: center;
    }
    .btni h3{
        color: white;
        text-align: center;
    }
    .btndf h1{
        color: white;
        text-align: center;
    }
    .btndf h2{
        color: white;
        text-align: center;
    }
    .btndf h3{
        color: white;
        text-align: center;
    }
    .btndf p{
        color: white;
        text-align: center;
    }
}