*{
    margin: 0px;
    padding: 0px;
}
html,body{
    overflow-x: hidden;
    background-image: url("https://3.bp.blogspot.com/-Zr5AXukiANA/VfH_siP_G1I/AAAAAAAAMlE/Z0E_zGd_mV8/s1600/Bakra%2B%2BMandi%2B2015%2B000003.jpg");
    background-size: 100vw 100vh;
}
.hear h1{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.but button{
    width: 200px;
    /* margin-top: 30px; */
}
.btni button{
    width: 200px;
    /* margin-top: 30px; */
}
.btndf button{
    width: 200px;
    /* margin-top: 30px; */
}
.but h1{
    color: white;
}
.but h2{
    color: white;
}
.but h3{
    color: white;
}
.btni h1{
    color: white;
}
.btni h2{
    color: white;
}
.btni h3{
    color: white;
}
.btndf h1{
    color: white;
}
.btndf h2{
    color: white;
}
.btndf h3{
    color: white;
}
.btndf p{
    color: white;
}